#Unreal Generate Files
*/Build
*/Binaries
*/DerivedDataCache
*/Intermediate
*/Saved
FirstVR/Content/StarterContent/Textures
FirstVR/Content/StarterContent/HDRI
FirstVR/Content/ArcVizAssets
*_BuildData

FirstVR/.vs/ArchitectureExplorer/v15/.suo
FirstVR/.vs/ArchitectureExplorer/v15/Browse.VC.db
FirstVR/.vs/config/applicationhost.config
FirstVR/.vs/
